.profile{
    width: 500px;
    height: 500px;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 8px 8px 4px 4px gray;
}

.profile-container{
    text-align: center;
    padding:5%;
}

.profile-container > h1{
    margin-bottom: 40px;
}

.profile-container >input{
    height: 40px;
    border-color: rgb(121, 117, 117);
    border-radius: 10px;
}


/* responsive */
@media only screen and (max-width: 600px) {
    .profile{
        margin: 0;
        padding: 10%;
        width: 50wh;
        height: 60vh;
    }
}